<ol class="breadcrumb">
  <li><a href="/#home" translate>breadcrumbs.home</a></li>
  <li ng-hide="Ctrl.user_self"><a href="/#users" translate>breadcrumbs.users.index</a></li>
  <li ng-show="Ctrl.user_self" class="active" translate>breadcrumbs.users.profile</li>
  <li class="active" ng-hide="Ctrl.user_self" translate>breadcrumbs.users.show</li>
</ol>

<div class="page-header">
	<img ng-src="{{ Ctrl.user.avatar_url_medium }}" />
	<h1>
		{{Ctrl.user.first_name + " " + Ctrl.user.last_name}}
	</h1>
</div>

<dl class="dl-horizontal">
	<dt translate>users.form.role</dt>
	<dd>{{ Ctrl.user.role.name }}</dd>
	<dt translate>users.form.email.label</dt>
	<dd>{{ Ctrl.user.email }}</dd>
	<dt translate>users.form.birthdate</dt>
	<dd>{{ Ctrl.user.birthdate | date: "dd/MM/yyyy" }}</dd>
	<dt translate>users.form.about.label</dt>
	<dd>{{ Ctrl.user.about }}</dd>
</dl>

<div class="well" ng-show="Ctrl.user_self">
	<a class="btn btn-primary" href="#users/update/{{Ctrl.user.id}}">
		<span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm">&nbsp;</span>
        <span class="hidden-xs hidden-sm" translate>users.actions.edit</span>
	</a>
	<a class="btn btn-default" href="#users/change_password/{{Ctrl.user.id}}">
		<span class="glyphicon glyphicon-option-horizontal"></span>
        <span class="hidden-xs hidden-sm">&nbsp;</span>
        <span class="hidden-xs hidden-sm" translate>users.actions.change_password</span>
	</a>
</div>