<div class="form-group">
  <label for="title" class="col-sm-2 control-label" translate>tests.form.name.label</label>
  <div class="col-sm-10">
    <input type="text" ng-model="Ctrl.test.name" class="form-control" id="name"  
      placeholder="{{ 'tests.form.name.placeholder' | translate }}"/>
  </div>
</div>
<div class="form-group">
  <label for="year" class="col-sm-2 control-label" translate>tests.form.description.label</label>
  <div class="col-sm-10">
    <textarea ng-model="Ctrl.test.description" class="form-control" id="test" placeholder="{{ 'tests.form.description.placeholder' | translate }}"/>
  </div>
</div>
<div class="form-group">
  <label for="course" class="col-sm-2 control-label" translate>tests.form.course.label</label>
  <div class="col-sm-10">
    <select ng-model="Ctrl.test.course_id" class="form-control" id="course" ng-options="course.id as course.name for course in Ctrl.courses" ng-change="Ctrl.retrieveCourse()"></select>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      &nbsp;
      <span translate>tests.actions.save</span>
    </button>
  </div>
</div>
