<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %></h1>
    <p>
      Your password at Gabaritei has been reset! Please find below your new temporary password:
    </p>
    <p>
      Password: <%= @password %>
    </p>
    <p>
      As soon as you log in with your new temporary password, please change it.
    </p>
    <p>
      Best regards,
    <p>
    <p>Gabaritei team</p>
  </body>
</html>