<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Gabaritei, <%= @user.first_name %></h1>
    <p>
      You have been successfully registered to our site!
    </p>
    <p>
      Your credentials are: <br/>
      Login: <%= @user.email %><br />
      Password: <%= @password %>
    </p>
    <p>
      As soon as you log in, you'll be able to change your password.
    </p>
  </body>
</html>