<ol class="breadcrumb">
  <li><a href="#" class="active">Home</a></li>
</ol>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">

  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Course #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="path-s">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico round"></div>
            <span>Aula 3</span>
            <span class="added-date">adicionado em 17/jan</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci. Nullam velit purus, volutpat et iaculis vitae, rhoncus quis mauris. Pellentesque non tincidunt metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci. Nullam velit purus, volutpat et iaculis vitae, rhoncus quis maurfffffffffis. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus.</span>
          </a>
          <div class="clearfix"></div>
        </div>

        <div class="path-s completed">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico round"></div>
            <span>Aula 2</span>
            <span class="added-date">adicionado em 10/jan</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </a>
          <div class="clearfix"></div>
        </div>

        <div class="path-s completed">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico round"></div>
            <span>Aula 1</span>
            <span class="added-date">adicionado em 3/jan</span>
            <span></span>
          </a>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Course #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="path-s completed">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico round"></div>
            <span>Conteudo 1</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci. Nullam velit purus, volutpat et iaculis vitae, rhoncus quis mauris. Pellentesque non tincidunt metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci. Nullam velit purus, volutpat et iaculis vitae, rhoncus quis maurfffffffffis. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus.</span>
          </a>
          <div class="clearfix"></div>
        </div>

        <div class="path-s completed">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico"></div>
            <span>Exercicio 1</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </a>
          <div class="clearfix"></div>
        </div>

        <div class="path-s completed">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico round"></div>
            <span>Conteudo 2</span>
            <span></span>
          </a>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Course #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="path-s completed">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico round"></div>
            <span>Conteudo 1</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci. Nullam velit purus, volutpat et iaculis vitae, rhoncus quis mauris. Pellentesque non tincidunt metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci. Nullam velit purus, volutpat et iaculis vitae, rhoncus quis maurfffffffffis. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus.</span>
          </a>
          <div class="clearfix"></div>
        </div>

        <div class="path-s completed">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico"></div>
            <span>Exercicio 1</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </a>
          <div class="clearfix"></div>
        </div>

        <div class="path-s completed">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico round"></div>
            <span>Conteudo 2</span>
            <span></span>
          </a>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
