<ol class="breadcrumb">
  <li><a href="#" class="active">Home</a></li>
</ol>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">

  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Course #1
        </a>
      </h4>
    </div> <!-- panel-heading -->

    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row">
          <div class="accordion-info">
            <dl class="dl-horizontal">
              <dt translate>courses.index.table.body.subject</dt>
              <dd>Nome_Materia</dd>
              <dt translate>courses.index.table.body.professor</dt>
              <dd>Nome_Professor</dd>
            </dl>
            <a href="#courses/1" class="btn btn-xs btn-default">
              <span class="glyphicon glyphicon-eye-open"></span>
              <span class="hidden-xs hidden-sm">&nbsp;</span>
              <span class="hidden-xs hidden-sm" translate>courses.actions.view</span>
            </a>

            <a href="#" class="btn btn-xs btn-warning">
              <span class="glyphicon glyphicon-folder-open"></span>
              <span class="hidden-xs hidden-sm">&nbsp;</span>
              <span class="hidden-xs hidden-sm" translate>courses.actions.new_class</span>
            </a>

            <a href="#" class="btn btn-xs btn-info">
              <span class="glyphicon glyphicon-pencil"></span>
              <span class="hidden-xs hidden-sm">&nbsp;</span>
              <span class="hidden-xs hidden-sm" translate>courses.actions.edit</span>
            </a>
          </div> <!-- accordion-info -->

          <div class="path-wrapper">
            <div class="path-s">
              <a href="#" class="ico-path">
                <div class="bar"></div>
                <div class="ico round"></div>
                <span class="glyphicon glyphicon-folder-open"></span>
                <span class="title">Aula 3</span>
                <span class="added-date">adicionado em 17/jan</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci. Nullam velit purus, volutpat et iaculis vitae, rhoncus quis mauris. Pellentesque non tincidunt metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci. Nullam velit purus, volutpat et iaculis vitae, rhoncus quis maurfffffffffis. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus.</span>
              </a>
              <div class="clearfix"></div>
            </div>

            <div class="path-s completed">
              <a href="#" class="ico-path">
                <div class="bar"></div>
                <div class="ico round"></div>
                <span class="glyphicon glyphicon-folder-open"></span>
                <span class="title">Aula 2</span>
                <span class="added-date">adicionado em 10/jan</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
              </a>
              <div class="clearfix"></div>
            </div>

            <div class="path-s completed">
              <a href="#" class="ico-path">
                <div class="bar"></div>
                <div class="ico round"></div>
                <span class="glyphicon glyphicon-folder-open"></span>
                <span class="title">Aula 1</span>
                <span class="added-date">adicionado em 3/jan</span>
                <span></span>
              </a>
              <div class="clearfix"></div>
            </div>
          </div> <!-- path wrapper -->
        </div> <!-- row -->
      </div> <!-- panel-body -->
    </div> <!-- collapseX -->
  </div> <!-- panel -->

  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Course #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="row">
          <div class="accordion-info">
            <dl class="dl-horizontal">
              <dt translate>courses.index.table.body.subject</dt>
              <dd>Nome_Materia</dd>
              <dt translate>courses.index.table.body.professor</dt>
              <dd>Nome_Professor</dd>
            </dl>
            <a href="#courses/1" class="btn btn-xs btn-default">
              <span class="glyphicon glyphicon-eye-open"></span>
              <span class="hidden-xs hidden-sm">&nbsp;</span>
              <span class="hidden-xs hidden-sm" translate>courses.actions.view</span>
            </a>

            <a href="#" class="btn btn-xs btn-warning">
              <span class="glyphicon glyphicon-folder-open"></span>
              <span class="hidden-xs hidden-sm">&nbsp;</span>
              <span class="hidden-xs hidden-sm" translate>courses.actions.new_class</span>
            </a>

            <a href="#" class="btn btn-xs btn-info">
              <span class="glyphicon glyphicon-pencil"></span>
              <span class="hidden-xs hidden-sm">&nbsp;</span>
              <span class="hidden-xs hidden-sm" translate>courses.actions.edit</span>
            </a>
          </div> <!-- accordion-info -->

          <div class="path-wrapper">
            <div class="path-s">
              <a href="#" class="ico-path">
                <div class="bar"></div>
                <div class="ico round"></div>
                <span class="glyphicon glyphicon-folder-open"></span>
                <span class="title">Aula 3</span>
                <span class="added-date">adicionado em 17/jan</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci. Nullam velit purus, volutpat et iaculis vitae, rhoncus quis mauris. Pellentesque non tincidunt metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci. Nullam velit purus, volutpat et iaculis vitae, rhoncus quis maurfffffffffis. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus.</span>
              </a>
              <div class="clearfix"></div>
            </div>

            <div class="path-s completed">
              <a href="#" class="ico-path">
                <div class="bar"></div>
                <div class="ico round"></div>
                <span class="glyphicon glyphicon-folder-open"></span>
                <span class="title">Aula 2</span>
                <span class="added-date">adicionado em 10/jan</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
              </a>
              <div class="clearfix"></div>
            </div>

            <div class="path-s completed">
              <a href="#" class="ico-path">
                <div class="bar"></div>
                <div class="ico round"></div>
                <span class="glyphicon glyphicon-folder-open"></span>
                <span class="title">Aula 1</span>
                <span class="added-date">adicionado em 3/jan</span>
                <span></span>
              </a>
              <div class="clearfix"></div>
            </div>
          </div> <!-- path wrapper -->
        </div> <!-- row -->
      </div> <!-- panel-body -->
    </div> <!-- collapseX -->
  </div> <!-- panel -->

</div> <!-- panel-group -->