<div class="page-header">
  <h1 translate>responses.index.heading</h1>
  <p class="lead"><span translate>responses.index.sub_heading</span> {{Ctrl.question.question.text | htmlToPlaintext}}</p>
</div>
<a href="#responses/new/{{Ctrl.question_id}}" class="btn btn-primary crud-add-btn">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <span translate>responses.actions.add</span>
</a>
<div class="panel panel-primary">
  <div class="panel-heading"></div>
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th translate>responses.index.table.header.question</th>
        <th translate>responses.index.table.header.owner</th>
        <th translate>responses.index.table.header.text</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="response in Ctrl.responses">
        <td>{{ response.question_id }}</td>
        <td>{{ response.owner_id }}</td>
        <td>{{ response.text | htmlToPlaintext }}</td>
        <td>
          <a href="#responses/update/{{response.id}}" class="btn btn-xs btn-info">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-xs hidden-sm">&nbsp;</span>
            <span class="hidden-xs hidden-sm" translate>responses.actions.edit</span>
          </a>
          <gab-show-modal-button text="responses.actions.delete" args="response.id" modalid="confirmDeleteResponse" class="btn btn-xs btn-danger" icon="glyphicon glyphicon-trash"></gab-show-modal-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div gab-confirm-modal modalid="confirmDeleteResponse" title="responses.modal.delete.title" body="responses.modal.delete.body" callback="Ctrl.c_delete(id)"></div>
