<ol class="breadcrumb">
  <li><a href="/#home" translate>breadcrumbs.home</a></li>
  <li><a href="/#questions" translate>breadcrumbs.questions.index</a></li>
  <li><a href="/#responses/{{ Ctrl.question_id }}" translate>breadcrumbs.responses.index</a></li>
  <li class="active" translate>breadcrumbs.responses.update</li>
</ol>

<div class="page-header">
	<h1 translate>responses.update.heading</h1>
</div>

<form class="form-horizontal" role="form" ng-submit="Ctrl.updateResponse()">
  <div ng-include="'templates/responses/_form.html'"></div>
</form>