<div class="page-header" id="banner">
  <div class="row">
    <h1 translate>models.subject</h1>
    <p class="lead">Create a new subject to your Virtual Class!</p>
  </div>
</div>


<div class="row">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Fields</th>
        <th translate>crud.edit</th>
        <th translate>crud.delete</th>
      </tr>
    </thead>

    <tbody >
        <tr data-ng-repeat="subject in Ctrl.subjects">
          <td>{{ subject.name }}</td>
          <td>{{ subject.description }}</td>
          <td><a href="#fields/{{subject.id}}">View Fields</a></td>
          <td><a href="#subjects/update/{{subject.id}}">Edit</a>
          <td><a href ng-click="Ctrl.deleteSubject(subject.id)">Delete</a>
        </tr>
    </tbody>
  </table>

  <a href="#subjects/new">Add new subject</a>

</div>


