<div class="page-header" id="banner">
  <div class="row">
    <h1 translate>crud.subjects.index.heading</h1>
    <p class="lead" translate>crud.subjects.index.sub_heading</p>
  </div>
</div>


<div class="row">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th translate>crud.name</th>
        <th translate>crud.description</th>
        <th translate>crud.subjects.index.fields</th>
        <th translate>crud.edit</th>
        <th translate>crud.delete</th>
      </tr>
    </thead>

    <tbody>
        <tr data-ng-repeat="subject in Ctrl.subjects">
          <td>{{ subject.name }}</td>
          <td>{{ subject.description }}</td>
          <td><a href="#fields/{{subject.id}}" translate>crud.subjects.index.view_fields</a></td>
          <td><a href="#subjects/update/{{subject.id}}" translate>crud.edit</a>
          <td>
          <gab-show-modal-button text="crud.delete" callback="Ctrl.deleteSubject()" args="subject.id" modalid="confirmDeleteSubject" class="btn btn-danger"/><gab-show-modal-button> </td>
        </tr>
    </tbody>
  </table>

 
  <a href="#subjects/new" translate>crud.add</a>

</div>

 <div gab-confirm-modal modalid="confirmDeleteSubject" title="crud.subjects.modal.delete.title" body="crud.subjects.modal.delete.body" callback="c_delete()" args="delete_id"></div>
