<div class="page-header">
  <h1>
    <span class="glyphicon glyphicon-book"></span>
    <span class="page-title" translate>subjects.index.heading</span>
  </h1>
  <p class="lead" translate>subjects.index.sub_heading</p>
</div>

<a href="#subjects/new" class="btn btn-primary crud-add-btn">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <span translate>subjects.actions.add</span>
</a>

<div class="panel panel-primary">
  <div class="panel-heading"></div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th translate>subjects.index.table.header.name</th>
        <th translate>subjects.index.table.header.description</th>
        <th translate>subjects.index.table.header.fields</th>
      </tr>
    </thead>

    <tbody>
        <tr data-ng-repeat="subject in Ctrl.subjects">
          <td>{{ subject.name }}</td>
          <td>{{ subject.description }}</td>
          <td>
            <a href="#fields/{{subject.id}}" class="btn btn-xs btn-default">
              <span class="glyphicon glyphicon-leaf"></span>
              <span class="hidden-xs hidden-sm">&nbsp;</span>
              <span class="hidden-xs hidden-sm" translate>subjects.actions.view_fields</span>
            </a>
            <a href="#subjects/update/{{subject.id}}" class="btn btn-xs btn-info">
              <span class="glyphicon glyphicon-pencil"></span>
              <span class="hidden-xs hidden-sm">&nbsp;</span>
              <span class="hidden-xs hidden-sm" translate>subjects.actions.edit</span>
            </a>
            <gab-show-modal-button text="subjects.actions.delete" args="subject.id" modalid="confirmDeleteSubject" class="btn btn-xs btn-danger" icon="glyphicon glyphicon-trash"></gab-show-modal-button>
          </td>
        </tr>
    </tbody>
  </table>
</div>
<div gab-confirm-modal modalid="confirmDeleteSubject" title="subjects.modal.delete.title" body="subjects.modal.delete.body" callback="Ctrl.c_delete(id)"></div>
