<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @request.requirer.first_name %></h1>
    <p>
      Your request of registration in the course <%= @request.course.name %> at Gabaritei has been approved, and you have been successfully registered to it!
    </p>
    <p>
      You may now access the course's contents.
    </p>
    <p>
      Best regards,
    <p>
    <p>Gabaritei team</p>
  </body>
</html>