<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @request.requirer.first_name %></h1>
    <p>
      Unfortunately, your request of registration in the course <%= @request.course.name %> at Gabaritei has been rejected.
    </p>
    <p>Message from administrator:</p>
    <p>
      <em><%= @request.response %></em>
    </p>
    <p>
      Best regards,
    <p>
    <p>Gabaritei team</p>
  </body>
</html>