<div class="form-group">
  <label for="first_name" class="col-sm-2 control-label" translate>crud.requests.form.first_name</label>
  <div class="col-sm-10">
    <input type="text" ng-model="Ctrl.request.first_name" class="form-control" id="name" ng-disabled="Ctrl.assessment"/>
  </div>
</div>
<div class="form-group">
  <label for="last_name" class="col-sm-2 control-label" translate>crud.requests.form.last_name</label>
  <div class="col-sm-10">
    <input type="text" ng-model="Ctrl.request.last_name" class="form-control" id="name" ng-disabled="Ctrl.assessment"/>
  </div>
</div>
<div class="form-group">
  <label for="email" class="col-sm-2 control-label" translate>crud.requests.form.email</label>
  <div class="col-sm-10">
    <input type="email" ng-model="Ctrl.request.email" class="form-control" id="email" ng-disabled="Ctrl.assessment"/>
  </div>
</div>
<div class="form-group">
  <label for="birthdate" class="col-sm-2 control-label" translate>crud.requests.form.birthdate</label>
  <div class="col-sm-10">
    <input type="date" ng-model="Ctrl.request.birthdate" class="form-control" id="birthdate" placeholder="yyyy-mm-dd" ng-disabled="Ctrl.assessment"/>
  </div>
</div>
<div class="form-group">
  <label for="text" class="col-sm-2 control-label" translate>crud.requests.form.message</label>
  <div class="col-sm-10">
    <textarea type="text" ng-model="Ctrl.request.text" class="form-control" id="text" ng-disabled="Ctrl.assessment"></textarea>
  </div>
</div>
<div class="form-group" ng-hide="Ctrl.assessment">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="{{'crud.send' | translate}}"/>
  </div>
</div>