<div class="page-header">
	<h1 translate>crud.requests.assessment.title</h1>
</div>

<form class="form-horizontal" role="form" ng-submit="Ctrl.sendAssessment()">
	<div ng-include="'templates/requests/_course_registration_form.html'"></div>
	<div class="form-group">
		<label for="text" class="col-sm-2 control-label" translate>crud.requests.form.response_message</label>
		<div class="col-sm-10">
  		<textarea type="text" ng-model="Ctrl.request.response" class="form-control" id="text" ng-disabled="Ctrl.request.response_date"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="text" class="col-sm-2 control-label" translate>crud.requests.form.accept</label>
		<div class="col-sm-10">
      <div ng-hide="Ctrl.request.response_date">
  		  <input toggle-switch type="checkbox" ng-model="Ctrl.request.accepted" size="small" on="Accept" off="Reject" onstyle="success" offstyle="danger">
      </div>
      <label class="control-label" ng-hide="!Ctrl.request.response_date">
        <span translate>{{ Ctrl.request.status }}</span>
        <span>{{ Ctrl.request.response_date | date: "dd/MM/yyyy HH:mm:ss" }}</span>
      </label>
		</div>
	</div>
	<div class="form-group" ng-hide="Ctrl.request.response_date">
  	<div class="col-sm-offset-2 col-sm-10">
    	<input type="submit" class="btn btn-primary" value="{{'crud.send' | translate}}"/>
  	</div>
	</div>
</form>