<div class="col-sm-offset-2 page-header">
	<h1>
      	<span class="glyphicon glyphicon-ok"></span>
      	&nbsp;
      	<span class="page-title" translate>requests.confirmation.course.heading</span>
	</h1>
</div>

<div class="col-sm-offset-2 col-sm-10">
	<p class="confirmation-text">
		<span translate>requests.confirmation.course.pgrph1</span>
		<strong>{{ Ctrl.request.first_name }}</strong>!
	</p>
	<p class="confirmation-text">
		<span translate>requests.confirmation.course.pgrph2</span>
		<strong>{{ Ctrl.request.email }}</strong>.
	</p>
</div>

