<div class="col-sm-offset-1 page-header">
	<h1>
      	<span class="glyphicon glyphicon-ok"></span>
      	<span class="page-title" translate>requests.confirmation.registration.heading</span>
	</h1>
</div>

<div class="col-sm-offset-1 col-sm-11">
	<p class="confirmation-text">
		<span translate>requests.confirmation.registration.pgrph1</span>
		<strong>{{ Ctrl.request.first_name }}</strong>!
	</p>
	<p class="confirmation-text">
		<span translate>requests.confirmation.registration.pgrph2</span>
		<strong>{{ Ctrl.request.email }}</strong>.
	</p>
	<br />
	<a href="#users/login" class="btn btn-primary">
		<span translate>requests.actions.go_to_login</span>
	</a>
</div>

