<div class="form-group">
  <label for="name" class="col-sm-2 control-label" translate>contents.form.name.label</label>
  <div class="col-sm-10">
    <input type="text" ng-model="Ctrl.content.name" class="form-control" id="name" placeholder="{{ 'contents.form.name.placeholder' | translate }}"/>
  </div>
</div>
<div class="form-group">
  <label for="description" class="col-sm-2 control-label" translate>contents.form.description.label</label>
  <div class="col-sm-10">
    <textarea ng-model="Ctrl.content.description" class="form-control" id="description" placeholder="{{ 'contents.form.description.placeholder' | translate }}"></textarea> 
  </div>
</div>
<div class="form-group">
  <label for="Subject" class="col-sm-2 control-label" translate>contents.form.subject</label>
  <div class="col-sm-10">
    <select ng-model="Ctrl.content.subject_id" class="form-control" id="subject" ng-options="subject.id as subject.name for subject in Ctrl.subjects" ng-change="Ctrl.retrieveSubject()"></select>
  </div>
</div>
<div class="form-group" ng-hide="!Ctrl.content.subject_id">
  <label for="Field" class="col-sm-2 control-label" translate>contents.form.field</label>
  <div class="col-sm-10">
    <select ng-model="Ctrl.content.field_id" class="form-control" id="field" ng-options="field.id as field.name for field in Ctrl.subject.fields"></select>
  </div>
</div>
<div class="form-group">
  <label for="type" class="col-sm-2 control-label" translate>contents.form.type</label>
  <div class="col-sm-10">
    <select ng-model="Ctrl.content.medium.is_attachment" class="form-control" id="type">
    	<option value="true" translate>contents.form.type_file</option>
    	<option value="false" translate>contents.form.type_online</option>
    </select> 
  </div>
</div>
<div class="form-group" ng-hide="Ctrl.content.medium.is_attachment != 'true'">
  <label for="type" class="col-sm-2 control-label"></label>
  <div class="col-sm-10" ng-hide="Ctrl.content.medium.data_file_name || Ctrl.content.medium.data">
    <label for="inputFile" translate>contents.form.file_drag_drop</label>
    <div class="well well-lg" ngf-drop ng-model="Ctrl.content.medium.data" ngf-drag-over-class="drag-file" translate>contents.form.drag_content</div>
    <label for="inputFile" translate>contents.form.file_select</label>
    <input type="file" ngf-select ng-model="Ctrl.content.medium.data" class="form-control" id="inputFile"/>
  </div>
  <div class="col-sm-10" ng-show="Ctrl.content.medium.data_file_name || Ctrl.content.medium.data">
    <span class="glyphicon glyphicon-file"></span>
    &nbsp;
    <span ng-show="Ctrl.content.medium.data_file_name">{{ Ctrl.content.medium.data_file_name }}</span>
    <span ng-show="Ctrl.content.medium.data">{{ Ctrl.content.medium.data.name }}</span>
    &nbsp;
    <button type="button" class="btn btn-sm btn-default" ng-click="Ctrl.clearFile()">
      <span class="glyphicon glyphicon-erase"></span>
      &nbsp;
      <span translate>contents.form.clear</span>
    </button>
  </div>
</div>
<div class="form-group" ng-hide="Ctrl.content.medium.is_attachment != 'false'">
  <label for="type" class="col-sm-2 control-label" translate>contents.form.reference.label</label>
  <div class="col-sm-10">
  	<input type="text" ng-model="Ctrl.content.medium.reference" class="form-control" id="name" placeholder="{{ 'contents.form.reference.placeholder' | translate }}"/>
  </div>
</div>
<div class="form-group">
  <label for="type" class="col-sm-2 control-label" translate>contents.form.shareable</label>
  <div class="col-sm-10">
    <input toggle-switch type="checkbox" ng-model="Ctrl.content.shareable" size="small" on="Yes" off="No">
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      &nbsp;
      <span translate>contents.actions.save</span>
    </button>
  </div>
</div>