<ol class="breadcrumb">
  <li><a href="/#home" translate>breadcrumbs.home</a></li>
  <li class="active" translate>breadcrumbs.contents.index</li>
</ol>

<div class="page-header">
  <h1>
    <span class="glyphicon glyphicon-duplicate"></span>
    <span class="page-title" translate>contents.index.heading</span>
  </h1>
  <p class="lead" translate>contents.index.sub_heading</p>
</div>

<a href="#contents/new" class="btn btn-primary crud-add-btn">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <span translate>contents.actions.add</span>
</a>

<div class="panel panel-primary">
  <div class="panel-heading"></div>
  <div class="panel-body"></div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th translate>contents.index.table.header.name</th>
        <th translate>contents.index.table.header.subject</th>
        <th translate>contents.index.table.header.field</th>
        <th translate>contents.index.table.header.description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="content in Ctrl.contents">
          <td>{{ content.name }}</td>
          <td>{{ content.subject }}</td>
          <td>{{ content.field }}</td>
          <td>{{ content.description }}</td>
          <td>
            <a href="#contents/show/{{content.id}}" class="btn btn-xs btn-default">
              <span class="glyphicon glyphicon-eye-open"></span>
              &nbsp;
              <span translate>contents.actions.view</span>
            </a>
            <a href="#contents/update/{{content.id}}" class="btn btn-xs btn-info">
              <span class="glyphicon glyphicon-pencil"></span>
              &nbsp;
              <span translate>contents.actions.edit</span>
            </a>
            <gab-show-modal-button text="contents.actions.delete" args="content.id" modalid="confirmDeleteContent" class="btn btn-xs btn-danger" icon="glyphicon glyphicon-trash"></gab-show-modal-button>
          </td>
        </tr>
    </tbody>
  </table>
</div>

<div gab-confirm-modal modalid="confirmDeleteContent" title="contents.modal.delete.title" body="contents.modal.delete.body" callback="Ctrl.c_delete(id)"></div>
