<ol class="breadcrumb">
  	<li><a href="/#home" translate>breadcrumbs.home</a></li>
  	<li ng-hide="Ctrl.course_id"><a href="/#contents" translate>breadcrumbs.contents.index</a></li>
  	<li ng-show="Ctrl.course_id"><a href="/#courses/{{ Ctrl.course_id }}" translate>breadcrumbs.courses.show</a></li>
  	<li class="active" translate>breadcrumbs.contents.show</li>
</ol>

<div class="page-header">
	<h1>{{ Ctrl.content.name }}</h1>
	<p class="lead">{{ Ctrl.content.description }}</p>
</div>

<a ng-hide="Ctrl.content.embeddable || Ctrl.content.medium.is_attachment != 'true'" href="{{ Ctrl.content.medium.source }}" class="btn btn-primary">
  <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
  &nbsp;
  <span translate>contents.actions.download</span>
</a>

<a ng-show="Ctrl.course_id" href="/#courses/{{ Ctrl.course_id }}/content/{{ Ctrl.content.id }}/recommend" class="btn btn-info">
  <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
  &nbsp;
  <span translate>contents.actions.recommend</span>
</a>

<div ng-hide="Ctrl.content.embeddable || Ctrl.content.medium.is_attachment == 'true'">
	<br />
	<strong translate>contents.show.link</strong>
	<a href="{{ Ctrl.content.medium.source }}">
		{{ Ctrl.content.medium.source }}
	</a>
</div>


<div class='embed-container' ng-hide="!Ctrl.content.embeddable">
	<iframe src="{{ Ctrl.content.embeddable ? Ctrl.content.medium.source : '' }}" frameborder="0" allowfullscreen></iframe>
</div>


