<div class="form-group search-form">
	<input type="text" ng-model="role.searchString" class="form-control" id="name" placeholder="{{ 'courses.search_form.placeholder' | translate }}" />
	<button type="submit" class="btn btn-primary">
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	</button>
	<button type="button" class="btn btn-danger" ng-hide="!role.users.length" ng-click="Ctrl.clearSearch(role)">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		&nbsp;
		<span translate>courses.search_form.clear</span>
	</button>
	<button type="button" class="btn btn-default" ng-hide="!role.users.length" ng-click="Ctrl.selectAllUsers(role, true)">
		<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
		&nbsp;
		<span translate>courses.search_form.select_all</span>
	</button>
	<button type="button" class="btn btn-default" ng-hide="!role.users.length" ng-click="Ctrl.selectAllUsers(role, false)">
		<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
		&nbsp;
		<span translate>courses.search_form.deselect_all</span>
	</button>
	<button type="button" class="btn btn-primary" ng-hide="!role.users.length" ng-click="Ctrl.addSelected(role)">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		&nbsp;
		<span translate>courses.search_form.add_selected</span>
	</button>
</div>

<div class="col-sm-12" style="overflow-x: scroll; overflow-y: hidden" ng-hide="!role.users.length">
	<table>
		<tr>
			<td data-ng-repeat="user in role.users">
				<div class="user-cell" ng-click="Ctrl.selectUser(user)" ng-class="{selected: user.selected}">
					<img ng-src="{{ user.avatar_url_thumb }}" />
					<br />
					<span>{{ user.first_name + " " + user.last_name }}</span>
					<br />
					<span>{{ user.email }}</span>
				</div>
			</td>
		<tr>
	</table>
</div>