<br class="hidden-sm hidden-md hidden-lg" />

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#courses/{{ Ctrl.course.id }}">{{ Ctrl.course.name }}</a></li>
  <li class="active" translate>breadcrumbs.courses.edit_lesson</li>
</ol>

<div class="page-header">
  <h1>{{ ('courses.edit_lesson.heading' | translate) + Ctrl.course.name }}</h1>
</div>

<form class="form-horizontal" role="form" ng-submit="Ctrl.editLesson()">
  <div ng-include="'templates/courses/_lesson_form.html'"></div>
</form>

