<br class="hidden-sm hidden-md hidden-lg" />

<ol class="breadcrumb">
  	<li><a href="/#home" translate>breadcrumbs.home</a></li>
  	<li><a href="/#courses" translate>breadcrumbs.courses.index</a></li>
  	<li><a href="/#courses/{{Ctrl.course.id}}">{{ Ctrl.course.name }}</a></li>
  	<li class="active" translate>breadcrumbs.courses.edit_participants</li>
</ol>

<div class="page-header">
	<h1>
		<span class="glyphicon glyphicon-user"></span>
		&nbsp;
		<span>{{ ('courses.participants.heading' | translate) + Ctrl.course.name }}</span>
	</h1>
</div>

<div ng-repeat="role in Ctrl.roles" class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title">{{ role.name }}</h2>
	</div>
	<div class="panel-body" id="search-form-container">
		<form class="form-inline" role="form" ng-submit="Ctrl.searchUsers(role)">
			<div ng-include="'templates/courses/_search_form.html'"></div>
		</form>
	</div>
	<table class="table table-striped participants-table">
		<tbody>
			<tr data-ng-repeat="user in Ctrl.course.users_info | filter:{role_name: role.name}">
				<td>
					<img ng-src="{{ user.avatar_file_name }}" />
				</td>
				<td>{{ user.first_name + ' ' + user.last_name }}</td>
				<td>{{ user.email }}</td>
				<td>
					<a href="#users/{{user.id}}" class="btn btn-sm btn-default">
						<span class="glyphicon glyphicon-eye-open"></span>
      					&nbsp;
						<span translate>courses.actions.view_participant</span>
					</a>
					<button ng-click="Ctrl.removeParticipant(user.id)" class="btn btn-sm btn-danger">
						<span class="glyphicon glyphicon-remove"></span>
      					&nbsp;
						<span translate>courses.actions.remove_participant</span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
