<br/>
<a name="course"></a>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Matemática</a></li>
  <li class="active">Curso X</li>
</ol>

<div class="page-header">
  <h1>Curso X - Matemática</h1>
</div>

<div class="row">

  <div class="col-xm-12 col-md-6">
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h3 class="panel-title">Aula 1</h3>
      </div>

      <div>
        <div class="path-s completed">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico round"></div>
            <span>Conteudo 1</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci. Nullam velit purus, volutpat et iaculis vitae, rhoncus quis mauris. Pellentesque non tincidunt metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci. Nullam velit purus, volutpat et iaculis vitae, rhoncus quis maurfffffffffis. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus. Pellentesque non tincidunt metus.</span>
          </a>
          <div class="clearfix"></div>
        </div>

        <div class="path-s completed">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico"></div>
            <span>Exercicio 1</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
          </a>
        <div class="clearfix"></div>
        </div>

        <div class="path-s completed">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico round"></div>
            <span>Conteudo 2</span>
            <span></span>
          </a>
        <div class="clearfix"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-xm-12 col-md-6">
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h3 class="panel-title">Aula 2</h3>
      </div>

      <div>
        <div class="path-s completed">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico round"></div>
            <span>Conteudo 1</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci.</span>
          </a>
        <div class="clearfix"></div>
        </div>

        <div class="path-s completed">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico round"></div>
            <span>Conteudo 2</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci.</span>
          </a>
        <div class="clearfix"></div>
        </div>

        <div class="path-s">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico"></div>
            <span>Exercicio 1 </span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci.</span>
          </a>
        <div class="clearfix"></div>
        </div>

        <div class="path-s">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico"></div>
            <span>Exercicio 2</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci.</span>
          </a>
        <div class="clearfix"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-xm-12 col-md-6">
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h3 class="panel-title">Aula 3</h3>
      </div>

      <div>
        <div class="path-s">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico round"></div>
            <span>Conteudo 1</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci. Nullam velit purus, volutpat et iaculis vitae, rhoncus quis mauris. Pellentesque non tincidunt metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci. Nullam velit purus, volutpat et iaculis vitae, rhoncus quis mauris. Pellentesque non tincidunt metus.</span>
          </a>
          <div class="clearfix"></div>
        </div>

        <div class="path-s">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico"></div>
            <span>Exercicio 1</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci.</span>
          </a>
        <div class="clearfix"></div>
        </div>

        <div class="path-s">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico round"></div>
            <span>Conteudo 2</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci.</span>
          </a>
        <div class="clearfix"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-xm-12 col-md-6">
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h3 class="panel-title">Aula 4  <span class="label label-warning">New content!</span></h3>
      </div>

      <div>
        <div class="path-s">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico round"></div>
            <span>Conteudo 1</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci.</span>
          </a>
        <div class="clearfix"></div>
        </div>

        <div class="path-s">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico round"></div>
            <span>Conteudo 2</span>
            <span>Mini descricao??? Mini descricao??? Mini descricao??? Mini descricao??? Mini descricao?? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci. Nu</span>
          </a>
        <div class="clearfix"></div>
        </div>

        <div class="path-s">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico"></div>
            <span>Exercicio 1 </span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci.</span>
          </a>
        <div class="clearfix"></div>
        </div>

        <div class="path-s">
          <a href="#" class="ico-path">
            <div class="bar"></div>
            <div class="ico"></div>
            <span>Exercicio 2</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisi tristique nisi aliquam cursus ut et orci.</span>
          </a>
        <div class="clearfix"></div>
        </div>
      </div>

    </div>
  </div>

</div>
