<div class="form-group">
  <label for="name" class="col-sm-2 control-label" translate>roles.form.name</label>
  <div class="col-sm-10">
    <input type="text" ng-model="Ctrl.role.name" class="form-control" id="name" placeholder="Role name here"/>
  </div>
</div>
<div class="form-group">
  <label for="description" class="col-sm-2 control-label" translate>roles.form.description</label>
  <div class="col-sm-10">
    <textarea ng-model="Ctrl.role.description" class="form-control" id="description" placeholder="Describe role here"/>
  </div>
</div>
<div class="form-group">
  <label for="permissions" class="col-sm-2 control-label" translate>roles.form.permissions</label>
  <div class="col-sm-offset-2 col-sm-10">
    <label class="checkbox" ng-repeat="permission in Ctrl.permissions">
      <input toggle-switch type="checkbox" ng-model="permission.allowed" size="small" on="{{ 'roles.form.allowed_yes' | translate }}" off="{{ 'roles.form.allowed_no' | translate }}">
      <span style="margin-left: 10px;" translate>{{ permission.name }}</span>
    </label>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-floppy-disk"></span>
      &nbsp;
      <span translate>roles.actions.save</span>
    </button>
  </div>
</div>