<div class="page-header" id="banner">
  <div class="row">
    <h1 translate>crud.roles.index.heading</h1>
    <p class="lead" translate>crud.roles.index.sub_heading</p>
  </div>
</div>

<div class="row">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th translate>crud.name</th>
        <th translate>crud.description</th>
        <th translate>crud.options</th>
      </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="role in Ctrl.roles">
          <td>{{ role.name }}</td>
          <td>{{ role.description }}</td>
          <td>
            <a href="#roles/update/{{role.id}}" class="btn btn-xs btn-primary" translate>crud.edit</a>
            <gab-show-modal-button text="crud.delete" args="role.id" modalid="confirmDeleteRole" class="btn btn-xs btn-danger"></gab-show-modal-button>
          </td>
        </tr>
    </tbody>
  </table>

  <a href="#roles/new" translate>crud.add</a>

</div>

 <div gab-confirm-modal modalid="confirmDeleteRole" title="crud.roles.modal.delete.title" body="crud.roles.modal.delete.body" callback="Ctrl.c_delete(id)"></div>