[ngf-drop] {
	color: #2c3e50;
	font-size: 20px;
	text-align: center;
	border: 2px dashed #dce4ec;
	background-color: #F4F6F9;
	-webkit-transition: 0.1s;
}

.drag-file[ngf-drop] {
	color: #999;
	border-color: #999;
	-webkit-transform: scale(1.05);
	-webkit-transition: 0.1s;
	-moz-transform: scale(1.05);
	-moz-transition: 0.1s;
	-o-transform: scale(1.05);
	-o-transition: 0.1s;
}

.avatar[ngf-drop] {
	width: 150px;
	height: 150px;
	line-height: 30px;
}

img.preview-avatar {
	max-width: 150px;
	max-height: 150px;
}

.ai-circled {
	width: 20px;
	height: 20px;
}

table.participants-table > tbody > tr > td {
	vertical-align: middle;
}

.form-inline input[type="file"] {
	width: 100%;
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

span.toggle-handle {
	background-color: #FFF;
	border-color: #FFF;
}