<div class="form-group">
  <label for="field.name" class="col-sm-2 control-label">Name</label>
  <div class="col-sm-10">
    <input type="text" ng-model="Ctrl.field.name" class="form-control" id="name" placeholder="Field name here"/>
  </div>
</div>
<div class="form-group">
  <label for="field.description" class="col-sm-2 control-label">Field description:</label>
  <div class="col-sm-10">
    <textarea ng-model="Ctrl.field.description" class="form-control" id="subject" placeholder="Describe field here"/>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>
</div>
