<div class="page-header" id="banner">
  <div class="row">
    <h1>{{Ctrl.subject.name}}</h1>
    <p class="lead">Organize your subjects in Fields</p>
  </div>
</div>


<div class="row">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody >
        <tr data-ng-repeat="field in Ctrl.fields">
          <td>{{ field.name }}</td>
          <td>{{ field.description }}</td>
          <td><a href="#fields/update/{{field.id}}">Edit</a>
          <td><a href ng-click="Ctrl.confirmDelete(field.id)">Delete</a>
        </tr>
    </tbody>
  </table>

  <a href="#subjects/new/{{Ctrl.subject.id}}">Add new field</a>

</div>


