<div class="page-header">
  <h1>{{ ('fields.index.fields_of' | translate) + Ctrl.subject.name }}</h1>
  <p class="lead" translate>fields.index.sub_heading</p>
</div>

<a href="#fields/new/{{Ctrl.subject.id}}" class="btn btn-primary crud-add-btn">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <span translate>fields.actions.add</span>
</a>

<div class="panel panel-primary">
  <div class="panel-heading"></div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th translate>fields.index.table.header.name</th>
        <th translate>fields.index.table.header.description</th>
        <th></th>
      </tr>
    </thead>
    <tbody >
        <tr data-ng-repeat="field in Ctrl.fields">
          <td>{{ field.name }}</td>
          <td>{{ field.description }}</td>
          <td>
            <a href="#fields/update/{{field.id}}/{{Ctrl.subject.id}}" class="btn btn-xs btn-primary">
              <span class="glyphicon glyphicon-pencil"></span>
              &nbsp;
              <span translate>fields.actions.edit</span>
            </a>
            <gab-show-modal-button text="fields.actions.delete" args="field.id" modalid="confirmDeleteField" class="btn btn-xs btn-danger" icon="glyphicon glyphicon-trash"></gab-show-modal-button>
          </td>
        </tr>
    </tbody>
  </table>
</div>

<div gab-confirm-modal modalid="confirmDeleteField" title="fields.modal.delete.title" body="fields.modal.delete.body" callback="Ctrl.confirmed_delete(id)"></div>
