<div class="form-group">
    <label for="title" class="col-sm-2 control-label" translate>questions.form.subject.label</label>
    <div class="col-sm-10">
        <tags-input ng-model="Ctrl.subjectInput" class="ti-input-lg" placeholder="{{'questions.form.subject.placeholder' | translate }}">
            <auto-complete source="Ctrl.subjectsTags"></auto-complete>
        </tags-input>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" translate>questions.form.hot.label</label>
    <div class="col-sm-10">
        <input toggle-switch type="checkbox" ng-model="Ctrl.question.hot" size="small" on="{{ 'questions.form.hot.option_yes' | translate }}" off="{{ 'questions.form.hot.option_no' | translate }}">
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label" translate>questions.form.text.label</label>
    <div class="col-sm-10">
        <div text-angular="text-angular" name="rich-response" ng-model="Ctrl.question.text" ta-disabled='disabled' placeholder="{{ 'questions.form.text.placeholder' | translate}}"></div>
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label" translate>questions.form.source.label</label>
    <div class="col-sm-10">
        <input type="text" ng-model="Ctrl.question.source" class="form-control" placeholder="{{'questions.form.source.placeholder' | translate }}" />
    </div>
</div>
<div class="form-group">
    <label for="title" class="col-sm-2 control-label" translate>questions.form.style.label</label>
    <div class="col-sm-10">
        <select id="questionStyle" class="form-control" ng-model="Ctrl.question.style">
            <option value="written" translate>questions.form.style.written </span></option>
            <option value="choice" translate>questions.form.style.multiple_choice </span></option>
        </select>
    </div>
</div>
<div ng-show="Ctrl.question.style == 'written'">
    <div class="form-group">
        <label for="year" class="col-sm-2 control-label" translate>questions.form.answer.label</label>
        <div class="col-sm-10">
            <div text-angular="text-angular" name="rich-question" ng-model="Ctrl.question.answer" ta-disabled='disabled' placeholder="{{ 'questions.form.answer.placeholder' | translate}}"></div>
        </div>
    </div>
</div>
<div ng-show="Ctrl.question.style == 'choice'">
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label" translate>questions.form.answer.label</label>
        <div class="col-sm-10">
            <select id="questionStyle" class="form-control" ng-model="Ctrl.keyAnswer" >
                <option ng-repeat="multiple_choice in Ctrl.multiple_choices track by $index" value="{{$index}}"> {{multiple_choice}}</option>
            </select>
        </div>
    </div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label" translate>questions.form.alternatives.label</label>
    <div class="col-sm-8">
    <auto:fields fields="Ctrl.schema" data="Ctrl.multiple_choices" options="Ctrl.options"></auto:fields>
</div>
<div class="col-sm-2">
    <button type="button" class="btn btn-default" ng-click="Ctrl.addField();"><span class="glyphicon glyphicon-plus" ></button>
        <button type="button" class="btn btn-default" ng-click="Ctrl.removeField();"><span class="glyphicon glyphicon-minus" ></button>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            &nbsp;
            <span translate>questions.actions.save</span>
        </button>
    </div>
</div>