<div class="page-header">
  <h1 translate>crud.questions.index.header</h1>
  <p class="lead" translate>crud.questions.index.sub_header</p>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <!-- <h3 class="panel-title">Questions</h3> -->
  </div>

  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th translate>crud.questions.table.headers.id</th>
        <th translate>crud.questions.table.headers.professor</th>
        <th translate>crud.questions.table.headers.source</th>
        <th translate>crud.questions.table.headers.text</th>
        <th translate>crud.questions.table.headers.date</th>
        <th translate>crud.questions.table.headers.options</th>
      </tr>
    </thead>

    <tbody >
      <tr data-ng-repeat="question in Ctrl.questions">
        <td>{{ question.id }}</td>
        <td>{{ question.user_id }}</td>
        <td>{{ question.source }}</td>
        <td>{{ question.text }}</td>
        <td>{{ question.answer }}</td>
        <td>
          <a href="#questions/update/{{question.id}}" class="btn btn-xs btn-primary" translate>crud.edit</a>
          <a href ng-click="Ctrl.deleteQuestion(question.id)" class="btn btn-xs btn-danger" translate>crud.delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<a href="#questions/new" class="btn btn-primary" translate>crud.questions.index.add</a>


