<div class="page-header">
  <h1>
    <span class="glyphicon glyphicon-question-sign"></span>
    <span class="page-title" translate>questions.index.heading</span>
  </h1>
  <p class="lead" translate>questions.index.sub_heading</p>
</div>

<a href="#questions/new" class="btn btn-primary crud-add-btn">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <span translate>questions.actions.add</span>
</a>

<div class="panel panel-primary">
  <div class="panel-heading"></div>
  <table class="table table-striped table-hover crud-table">
    <thead>
      <tr>
        <th translate>questions.index.table.headers.owner</th>
        <th translate>questions.index.table.headers.source</th>
        <th translate>questions.index.table.headers.text </th>
        <th translate>questions.index.table.headers.hot</th>
        <th translate>questions.index.table.headers.answer</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="question in Ctrl.questions">
          <td>{{ question.owner_name }}</td>
          <td>{{ question.source }}</td>
          <td>{{ question.text | htmlToPlaintext }}</td>
          <td><span ng-class="{'glyphicon glyphicon-fire': question.hot}"></span></td>
          <td>{{ question.answer |  htmlToPlaintext }}</td>
          <td class="options-cell options-column-3">
            <a href="#responses/{{question.id}}" class="btn btn-xs btn-default">
              <span class="glyphicon glyphicon-eye-open"></span>
              <span class="hidden-xs hidden-sm">&nbsp;</span>
              <span class="hidden-xs hidden-sm" translate>questions.actions.view_responses</span>
            </a>
            <a href="#questions/update/{{question.id}}" class="btn btn-xs btn-info">
              <span class="glyphicon glyphicon-pencil"></span>
              <span class="hidden-xs hidden-sm">&nbsp;</span>
              <span class="hidden-xs hidden-sm" translate>questions.actions.edit</span>
            </a>
            <gab-show-modal-button text="questions.actions.delete" args="question.id" modalid="confirmDeleteQuestion" class="btn btn-xs btn-danger" icon="glyphicon glyphicon-trash"></gab-show-modal-button>
          </td>
        </tr>
    </tbody>
  </table>
</div>

<div gab-confirm-modal modalid="confirmDeleteQuestion" title="questions.modal.delete.title" body="questions.modal.delete.body" callback="Ctrl.c_delete(id)"></div>
