<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="#home" class="navbar-brand">Gabaritei</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li>
					<a href="#questions" translate>menu.questions</a>
				</li>
				<li>
					<a href="#subjects" translate>menu.subjects</a>
				</li>
				<li>
					<a href="#data_imports" translate>menu.data_import</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" ng-controller="TranslationsController as Ctrl">
		          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		          		<span translate>menu.language</span>
		     			<span class="caret"></span>
		          	</a>
			        <ul class="dropdown-menu">
			            <li><a href="#" ng-click="Ctrl.changeLanguage('en')">English</a></li>
			            <li><a href="#" ng-click="Ctrl.changeLanguage('pt-BR')">Português</a></li>
			            <li><a href="#" class="selected" ng-click="Ctrl.changeLanguage('fr')">Français</a></li>
			        </ul>
		        </li>
			</ul>

		</div>
	</div>
</div>
