<li>
	<a href="#roles"><span translate>menu.roles</span><span class="sub_icon glyphicon glyphicon-file"></span></a>
</li>
<li ng-hide="!Ctrl.permissions['permission.manipulate_users']">
	<a href="#users"><span translate>menu.users</span><span class="sub_icon glyphicon glyphicon-user"></span></a>
</li>
<li>
	<a href="#questions"><span translate>menu.questions</span><span class="sub_icon glyphicon glyphicon-question-sign"></span></a>
</li>
<li>
	<a href="#subjects"><span translate>menu.subjects</span><span class="sub_icon glyphicon glyphicon-book"></span></a>
</li>
<li>
	<a href="#courses"><span translate>menu.courses</span><span class="sub_icon glyphicon glyphicon-book"></span></a>
</li>
<li>
	<a href="#contents"><span translate>menu.contents</span><span class="sub_icon glyphicon glyphicon-duplicate"></span></a>
</li>
<li>
	<a href="#data_imports"><span translate>menu.data_import</span><span class="sub_icon glyphicon glyphicon-cloud-upload"></span></a>
</li>
<li>
    <a href="#"><span translate>Perfil</span><span class="sub_icon glyphicon glyphicon-user"></span></a>
</li>
<li>
    <a href="#"><span>Links</span><span class="sub_icon glyphicon glyphicon-link"></span></a>
</li>
<li>
    <a href="#"><span>Settings</span><span class="sub_icon glyphicon glyphicon-cog"></span></a>
</li>
<li>
    <a href="#"><span>Contact</span><span class="sub_icon glyphicon glyphicon-earphone"></span></a>
</li>
<li>
    <a href="#" ng-click="Ctrl.logout()"><span>Logout</span><span class="sub_icon glyphicon glyphicon-off"></span></a>
</li>